html {
  height: 200%;
}

html, body {
  background: linear-gradient(#fff, #000);
}

#header {
  margin-top: -25px;
}

#header div {
  width: 111%;
  height: 250px;
  background-color: white;
  margin-left: -10%
}

#header h1 {
  font-size: 48px;
  font-family: 'Arial';
  text-align: center;
  margin-left: 10%;
}

#header h3 {
  font-size: 24px;
  text-align: center;
  font-family: 'Arial';
  margin-left: 10%;
}

#header a {
  text-decoration: none;
  color: black;

}

#header a div {
  background-color: white;
  margin-left: 10%;
  height: 10%;
  width: 10%;
  display: inline;
  text-decoration: none;
  
  
  
}

#header h5 {
  text-align: center;
}