/*MIXINS*/
@mixin fillparent {
	height: 100%;
	width: 100%;
}

/*COLOR VARIABLES*/
$darkonlight : #111;
$lightondark : #fff;

/*BODY RULES*/
button { cursor: pointer; }
input[type="checkbox"]{ height: 18px; width: 18px; vertical-align: middle; }
html, body {
	background: $lightondark;
	color: $darkonlight;
	font: 12pt/1.25em "Times New Roman", serif; 
	position: relative;
	@include fillparent;
}
body {
	height: auto !important;
	min-height: 100%;
}
h1 { font-size: 2em; line-height: 3em; }
h2 { font-size: 1.5em; line-height: 3em; }
h3 { font-size: 1.3em; line-height: 3em; }
h4 { font-size: 1em; line-height: 3em; }
h5 { font-size: 0.8em; line-height: 3em; }
h6 { font-size: 0.7em; line-height: 3em; }

noscript {
	
}
/*MIXINS*/
@mixin fillparent {
	height: 100% !important;
	width: 100% !important;
}

/*COLOR VARIABLES*/
$darkonlight : #111;
$lightondark : #fff;

/*BODY RULES*/
button { cursor: pointer; }
input[type="checkbox"]{ height: 18px; width: 18px; vertical-align: middle; }
html, body {
	background: $lightondark;
	color: $darkonlight;
	font: 12pt/1.25em "Open Sans", sans-serif; 
	margin: 0;
	padding: 0;
	position: relative;
	@include fillparent;
}
body {
	min-height: 100%;
}
h1 { font-size: 2em; line-height: 3em; }
h2 { font-size: 1.5em; line-height: 3em; }
h3 { font-size: 1.3em; line-height: 3em; }
h4 { font-size: 1em; line-height: 3em; }
h5 { font-size: 0.8em; line-height: 3em; }
h6 { font-size: 0.7em; line-height: 3em; }

noscript {
	
}
.page {
	@include fillparent;
}

/*NAVIGATION*/
.nav {
	margin: 0;
	padding: 0;
	& li {
		display: inline-block;
		list-style-type: none;
		margin: 0;
	}
		& a {
			text-decoration: none;
		}
}

.navigation {
	height: 37.5%;
	font: 18pt/1.25em "Open Sans", sans-serif;
	font-weight: bold;
		& a {
			color: #222;
			&:hover {
			 color: #F60;
			}
		}
}