/*MIXINS*/
@mixin fillparent {
	height: 100%;
	width: 100%;
}

/*COLOR VARIABLES*/
$darkonlight : #111;
$lightondark : #fff;

/*BODY RULES*/
button { cursor: pointer; }
input[type="checkbox"]{ height: 18px; width: 18px; vertical-align: middle; }
html, body {
	background: $lightondark;
	color: $darkonlight;
	font: 12pt/1.25em "Times New Roman", serif; 
	position: relative;
	@include fillparent;
}
body {
	height: auto !important;
	min-height: 100%;
}
h1 { font-size: 2em; line-height: 3em; }
h2 { font-size: 1.5em; line-height: 3em; }
h3 { font-size: 1.3em; line-height: 3em; }
h4 { font-size: 1em; line-height: 3em; }
h5 { font-size: 0.8em; line-height: 3em; }
h6 { font-size: 0.7em; line-height: 3em; }

noscript {
	
}
/*MIXINS*/
@mixin fillparent {
	height: 100% !important;
	width: 100% !important;
}

/*COLOR VARIABLES*/
$darkonlight : #111;
$lightondark : #fff;

/*BODY RULES*/
button { cursor: pointer; }
input[type="checkbox"]{ height: 18px; width: 18px; vertical-align: middle; }
html, body {
	background: $lightondark;
	color: $darkonlight;
	font: 12pt/1.25em "Open Sans", sans-serif; 
	margin: 0;
	padding: 0;
	position: relative;
	@include fillparent;
}
body {
	min-height: 100%;
}
h1 { font-size: 2em; line-height: 3em; }
h2 { font-size: 1.5em; line-height: 3em; }
h3 { font-size: 1.3em; line-height: 3em; }
h4 { font-size: 1em; line-height: 3em; }
h5 { font-size: 0.8em; line-height: 3em; }
h6 { font-size: 0.7em; line-height: 3em; }

noscript {
	
}
.page {
	@include fillparent;
}

/*NAVIGATION*/
.nav {
	margin: 0;
	padding: 0;
	& li {
		display: inline;
		list-style-type: none;
		margin: 0;
	}
}

.navigation {
	border-bottom: 1px solid black;
	font: 30px/40px "Open Sans", sans-serif;
	font-weight: bold;
	margin-bottom: 9pt;
	padding: 20px 0;
		& .inner {
			width: 1000px;
			margin: auto;
			position: relative;
			& > ul > li > ul {
				display: none;
			}
			& .nav {
				margin-top: 15px;
				& li {
					margin: 10px;
				}
			}
			& .logo {
				font-size: 70px;
				line-height: 75px;
				text-decoration: none;
				& img {
					float: left;
					margin-right: 20px;
				}
			}
			& .sidebar {
				position: absolute;
				right: 0;
				top: 0;
				& ul {
					margin: 10px 0;
					& li {	
						list-style-type: none;
						margin: 0;
					}
				}

			}
		}
		& a {
			text-decoration: none;
		}
		
		
}